.container{
    height: 300vh;
    position: relative;
    
}
.sticky{
    position: sticky;
    overflow: hidden;
    top: 0;
    height: 100svh;
}
.imageContainer{
    position: relative;
    width: 25vw;
    height: 25vh;
    img{
        object-fit: cover;
        border-radius: 14px;
    }
}
.el{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    &:nth-of-type(2){
        .imageContainer{
            top: -30vh;
            left: -29.5vw;
            width: 30vw;
            height: 30vh;
        }
    }
    &:nth-of-type(3){
        .imageContainer{
            top: -30vh;
            left: -4.6vw;
            width: 16vw;
            height: 30vh;
        }
    }
    &:nth-of-type(4){
        .imageContainer{
            top: -30vh;
            left: 15vw;
            width: 20vw;
            height: 30vh;
        }
    }
    &:nth-of-type(5){
        .imageContainer{
            top: -30vh;
            left: 35.9vw;
            width: 18vw;
            height: 30vh;
        }
    }
    &:nth-of-type(6){
        .imageContainer{
            top: 3vh;
            left: -29.5vw;
            width: 30vw;
            height: 30vh;
        }
    }
    &:nth-of-type(7){
        .imageContainer{
            top: 0vh;
            left: 29vw;
            width: 30vw;
            height: 25vh;
        }
    }
    &:nth-of-type(8){
        .imageContainer{
            top: 32.5vh;
            left: -29.5vw;
            width: 30vw;
            height: 23vh;
        }
    }
    &:nth-of-type(9){
        .imageContainer{
            top: 30vh;
            left: 0vw;
            width: 25vw;
            height: 29vh;
        }
    }
    &:nth-of-type(10){
        .imageContainer{
            top: 30vh;
            left: 29vw;
            width: 30vw;
            height: 29vh;
        }
    }
}
