
.hamburgerWrapper {
    position: fixed;
    right: 5%;
    z-index: 101;
    top: 14px;
    mix-blend-mode: difference;
}

.hamburger_menu{
  position: relative;
  width: 44px;
  height: 44px;
  gap: 8px;
  transition: .3s linear;
  div {
    width: 22px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0);

    &::before, &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1.5px;
      background-color: #000;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .6s all cubic-bezier(0.8, 0.11, 0.2, .9);
    }
  }

  div::before {
    top: 0;
  }
  div::after {
    top: 100%;
  }
}

.collapse div::before{
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
}
.collapse div::after{
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}



  
  
